<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div style="text-align: center; margin-top: 50px;">
    <h1>Добро пожаловать в финансовый трекер</h1>
    <button onclick="location.href='/login'" style="margin-right: 10px; padding: 10px 20px;">Войти</button>
    <button onclick="location.href='/register'" style="padding: 10px 20px;">Зарегистрироваться</button>
</div>
</body>
</html>
